<a href="https://colab.research.google.com/github/sanu4satyam/ZEP_Analytics-Assignments/blob/main/ZEP_Practical_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Practical Assignment 1**

1.) Write a Python program to solve quadratic equations?

In [1]:
#Import cmath module
import cmath

In [2]:
#Input Values in Numbers
a = int(input("Enter value of a: "))
b = int(input("Enter value of b: "))
c = int(input("Enter value of c: "))

# calculating  the discriminant
discriminant = (b**2) - (4 * a*c)

# finding two roots
root1 = (-b-cmath.sqrt(discriminant))/(2 * a)
root2 = (-b + cmath.sqrt(discriminant))/(2 * a)
  
# printing the results
print('The roots are')
print(root1)
print(root2)

Enter value of a: 5
Enter value of b: 6
Enter value of c: 7
The roots are
(-0.6-1.0198039027185568j)
(-0.6+1.0198039027185568j)

2.) Write a python code to swap two variables without temp variable.

In [3]:
#Getting input
x = input("Enter the Value x: ")
y = input("Enter the Value of y: ")

#swapping
x,y = y,x
print('The swapped value of x,y are: ',x,y)

Enter the Value x: 6
Enter the Value of y: 9
The swapped value of x,y are:  9 6

3.) Write a python code for Prime Number.

In [4]:
#Getting input
n = int(input("Enter the number: "))

#Code to Check Prime or Not

for i in range (2,n):
  if n%2 == 0:
    print("Not Prime")
    break
else:
  print("It's a Prime")

Enter the number: 4
Not Prime

4.) Write a program to convert decimal to binary, Octal and Hexadecimal.

In [5]:
#Getting input
decimal = int(input('Enter any Decimal Number: '))

print("Binary is: ",bin(decimal))
print("Octal is: ",oct(decimal))
print("Hexadecimal is: ",hex(decimal),)

Enter any Decimal Number: 6
Binary is:  0b110
Octal is:  0o6
Hexadecimal is:  0x6

5.) Write a python code to find ASCII value of character.

In [7]:
#Getting input
char = input('Enter any Character: ')
print("The ASCII value is: ", ord(char))

Enter any Character: a
The ASCII value is:  97

# **Practical Assignment 2**

1.) Write a Python Program to calculate the natural logarithm of any number.

In [8]:
import numpy as np
x = 5
np.log(5)

1.6094379124341003

2.) Write a Python Program to Display Fibonacci Sequence Using Recursion.

In [19]:
def fibo(n, x, y):
    if n-1 == 0:
        return x
    else:
        z = x + y
        x = y
        return fibo(n-1, x, z)
 
 
if __name__ == "__main__":
    print(fibo(5, 0, 1))

3

3.) Write a Python Program for array rotation.

In [36]:
a = np.array([1, 2, 3, 4, 5, 6])
np.roll(a,3)

array([4, 5, 6, 1, 2, 3])

4.) Write a Python Program to check if given array is Monotonic.

In [38]:
def ismonotone(a):
    n=len(a)
    if n==1:
        return True
    else:
        #check for monotone behaviour
        if all(a[i]>=a[i+1] for i in range(0,n-1) or a[i]<=a[i+1] for i in range(0,n-1)):
            return True
        else:
            return False

A = [6, 5, 4, 2]
print(ismonotone(A))

True

5.) Write a Python Program to Remove Punctuation From a String.

In [41]:
string = 'Hello! World! '
new_string = string.replace('!', '')
print(new_string)

Hello World

# **Practical Assignment 3**

1.) Write a Python Program to Sort Words in Alphabetic Order.

In [44]:
a = ('apple', 'mango', 'banana', 'cherry')
sorted(a)

['apple', 'banana', 'cherry', 'mango']

2.) Write a Python Program to Multiply Two Matrices.

In [47]:
m1 = [[1,2,3],[4,5,6]]
m2 = [[7,8,9],[1,5,8]]
np.multiply(m1,m2)

array([[ 7, 16, 27],
       [ 4, 25, 48]])

3.) Write a Python program to print all disarium numbers between 1 to 100.

4.) Write a Python Program to check if a string contains any special 
character.

In [59]:
import string
a1 = string.punctuation
a1
string1 = "Hello# Wo$r!d"
  
for i in string1:
    if i in string.punctuation:
        print("Punctuation")
    else:
      print("No Punctuation")

No Punctuation
No Punctuation
No Punctuation
No Punctuation
No Punctuation
Punctuation
No Punctuation
No Punctuation
No Punctuation
Punctuation
No Punctuation
Punctuation
No Punctuation

5.) Write a Python program to sort Python Dictionaries by Key or Value.

In [62]:
## By Values
orders = {
	'cappuccino': 54,
	'latte': 56,
	'espresso': 72,
	'americano': 48,
	'cortado': 41
}

[print(key, value) for (key, value) in sorted(orders.items(), key=lambda x: x[1])]

cortado 41
americano 48
cappuccino 54
latte 56
espresso 72

[None, None, None, None, None]